.bank-wrapper {
	/* margin-left: 50px; */
	padding: 10px 0 0 30px;
	height: 100px;
}

.bank-wrapper h2 {
	color: rgba(219,232,232, 1);
}

.bank {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bank img {
	height: 60px;
	margin: 4px;
}

.bank h1 {
	margin: 2px;
	color: rgb(255,239,95);
}
